
body {
  margin: 0;
  padding: 0;
  min-width: 940px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul.top-nav-list,
ul.site-navigation1,
ul.site-navigation2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.head-btn {
  margin-left: 24px;
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */
.top-line {
  background-color: #293449;
}

.inner {
  width: 940px;
  margin: 0 auto;
}

.top-line-wrapper {
  display: flex;
}

.logo-link {
  position: relative;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #ee3643;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  color: #fff;
}

.logo-link:hover,
.logo-link:focus {
  background-color: #ca2c37;
}

.logo-link:active {
  background-color: #ba2732;
}

.logo-link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: #b52933;
}

.search-form {
  width: 270px;
}

input {
  text-rendering: auto;
  display: inline-block;
  text-align: start;
  background-color: white;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
}

form {
  display: block;
  margin-top: 0em;
}

.search-form input {
  width: 270px;
  padding: 12px 0 12px 50px;
  float: left;
  font-size: 17px;
  background: #293449;
  line-height: 18px;
  border: none;
  padding-bottom: 11px;
  padding-top: 11px;
  cursor: pointer;
  color: #fff;
  background: url(../img/icon-search.svg) no-repeat 17px;
}

.search-form:hover,
.search-form:focus {
  background-color: #212a3a;
}

.search-form:active {
  color: #999ca1;
  background-color: #161d29;
}

.top-nav-list {
  display: flex;
}

.top-nav-item {
  width: 150px;
}

.top-btn {
  display: block;
  padding: 21px;
  padding-bottom: 11px;
  padding-top: 11px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
  text-decoration: none;
}

.top-btn:hover,
.top-btn:focus {
  background-color: #212a3a;
}

.top-btn:hover::before,
.top-btn:focus::before {
  opacity: 1;
}

.top-btn:active {
  color: #999ca1;
  background-color: #161d29;
}

.top-btn:active::before {
  opacity: 0.3;
}

.order-btn {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  padding-bottom: 14px;
  background-color: #63a63e;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #5fbb2d;
}

.order-btn:active {
  color: #a8c29a;
  background-color: #518534;
}

.bookmark-btn {
  position: relative;
  padding: 12px 0 12px 45px;
}

.bookmark-btn::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart-btn {
  position: relative;
  padding: 12px 0 12px 49px;
}

.cart-btn::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  background: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart-added {
  position: relative;
  display: block;
  padding-left: 49px;
  padding-bottom: 14px;
  padding-top: 11px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  text-decoration: none;
}

.cart-added::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 16px;
  background: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart-added:hover,
.cart-added:focus {
  background-color: #ca2c37;
}

.cart-added:hover::before,
.cart-added:focus::before {
  opacity: 1;
}

.cart-added:active {
  color: #999ca1;
  background-color: #ba2732;
}

.cart-added:active::before {
  opacity: 0.3;
}

.main-header-bg {
  background-color: #f4f7f9;
}

.head-wrapper {
  display: flex;
  flex-direction: column;
}

.head-wrap {
  display: flex;
  padding-top: 46px;
}

.main-title {
  width: 208px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: #ee3643;
  padding: 2px 50px 0 52px;
  margin: 0;
}

.phone-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.phone {
  display: block;
  width: 145px;
  margin-left: 10px;
  background: url(../img/icon-phone.svg) no-repeat 15px;
  padding: 10px 50px 10.5px 70px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #fff;
}

.head-address {
  margin: 0;
  margin-left: 8px;
  padding: 4px 0 0 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}

.head-btn {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.head-btns {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login {
  display: flex;
  padding-right: 26px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-top: 12px;
  background-color: #fff;
}

.login-icon {
  margin-right: 14px;
}

.login:hover .login-icon-path,
.login:focus .login-icon-path {
  fill: #32425c;
}

.login:active .login-icon-path {
  fill: #c5c5c5;
}

.reg {
  display: block;
  margin-left: 11px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 23px;
}

.head-btns:hover,
.head-btns:focus {
  color: #ee3643;
}

.head-btns:active {
  color: #b2b2b2;
}

.site-navigation {
  font-family: Cuprum, Arial, sans-serif;
  line-height: 25px;
  background-color: #32425c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  margin-top: 42px;
  margin-bottom: 60px;
  padding: 16px 30px 15px;
  border-bottom: 4px solid #293449;
}

.site-navigation a {
  color: #fff;
  padding: 17px 29px 19px 24px;
  margin: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fff;
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: #59616e;
}

ul.site-navigation {
  list-style: none;
}

ul.top-nav-list,
ul.site-navigation1,
ul.site-navigation2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*блок с меню с картинками*/
.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 59px;
  margin-bottom: 52px;
  padding: 0;
}

.container-materials {
  width: 300px;
  height: 123px;
  order: -6;
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px center;
  background-color: #ffbf47;
}

.container-materials a {
  padding: 10px 24px;
  background: #e5ac40;
  border-radius: 3%;
}

.conteiner-item {
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  padding-right: 142px;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding-bottom: 22px;
  padding-top: 26px;
}

.name-menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 21px;
  color: #fff;
  margin: 0;
  margin-bottom: 17px;
}

.btn-menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.container-instruments {
  width: 300px;
  height: 123px;
  order: -5;
  margin-right: 20px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px center;
  background-color: #3bbce3;
}

.container-instruments a {
  padding: 10px 24px;
  background: #35a9cc;
  border-radius: 3%;
}

.container-tech {
  width: 300px;
  height: 123px;
  order: -4;
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px center;
}

.container-tech a {
  padding: 10px 24px;
  background: #c682c2;
  border-radius: 3%;
}

.container-sale {
  order: -2;
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px center;
}

.container-sale a {
  background: #80c180;
  border-radius: 3%;
  padding: 11px 23px;
}

.container-delivery {
  order: -1;
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px center;
  margin-bottom: 0;
}

.container-delivery a {
  padding: 10px 27px;
  background: #e5ac40;
  border-radius: 3%;
  text-transform: uppercase;
}

.btn-menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.btn-menu:hover,
.btn-menu:focus {
  background-color: rgba(204, 204, 204, 0.2);
}

.btn-menu:active {
  background-color: rgba(178, 178, 178, 0.3);
}

#product-1:checked~.slider-list .item-impact,
#product-2:checked~.slider-list .item-drill {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-impact::before,
#product-2:checked~.slider-controls .slider-controls-drill::before {
  content: "";
  position: absolute;
  left: 80%;
  top: 80%;
  z-index: 2;
  width: 5px;
  height: 5px;
  margin: -4px;
  background-color: #ee3643;

  border-radius: 50%;
}

#product-1:checked~.slider-controls label [for="product-1"],
#product-2:checked~.slider-controls label [for="product-2"] {
  background-color: #ee3643;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}

.container-slider {
  width: 620px;
  margin-right: 20px;
  padding: 0;
  box-sizing: border-box;
}

.slider-item {
  display: none;
}

.item-impact {
  height: 266px;
  background-image: url(../img/slider-drill.png);
  background-repeat: no-repeat;
}

.item-drill {
  height: 266px;
  background-image: url(../img/slider-impact.png);
  background-repeat: no-repeat;
}

.slider-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-left: 24px;
  max-width: 220px;
  font-size: 33px;
  line-height: 27px;
  font-weight: bold;
  color: #fff;
}

.slider-item p {
  max-width: 300px;
  margin-top: 8px;
  margin-left: 23px;
  margin-bottom: 123px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.slider-btn {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin: 0;

  margin-left: 25px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: #ca2c37;
}

.slider-btn:active {
  background-color: #ba2732;
}

.slider-top {
  position: relative;
}

.slider-list {
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
}

.slider-controls i::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  left: 23%;
  bottom: 39px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(50%);
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 56%;
  top: 52%;
  width: 6px;
  height: 6px;
  margin: -4px;
  z-index: 3;
  border-radius: 50%;
  background-color: #ee3643;
  /*указатель активной кнопки*/
}

/*блок популярные товары*/
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-items {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  margin-left: 28px;
}

.popular-items-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-right: 24px;
  border-radius: 3%;
  text-transform: uppercase;
}

.popular-items-link:hover,
.popular-items-link:focus {
  background-color: #ca2c37;
}

.popular-items-link:active {
  background-color: #ba2732;
}

.popular {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.drill-unit {
  background-color: transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 23.5%;
  line-height: 17px;
  font-weight: bold;
  text-align: center;c
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.drill-unit:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.drill-unit:nth-child(3n) {
  margin-right: 0;
}

.drill-unit .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.actions .buy,
.actions .bookmark-drill {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .buy:hover,
.actions .buy:focus {
  background-color: #5fbb2d;
}

.actions .buy:active {
  background-color: #518534;
}

.actions .bookmark-drill {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.actions .bookmark-drill:hover,
.actions .bookmark-drill:focus {
  border: 3px solid #32425c;
}

.actions .bookmark-drill:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}

.drill-unit .actions {
  display: none;
}

.drill-unit:hover .actions {
  display: block;
}

.drill-unit .image {
  width: 218px;
  height: 168px;
}

.drill-unit .image img {
  max-width: 100%;
}

.drill-unit .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.drill-unit .catalog-item-price {
  margin-top: -10px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
  font-size: 16px;
}

.drill-unit .item-price-btn {
  position: relative;
  width: 80px;
  margin-top: auto;
  margin-left: 42px;
  margin-bottom: 21px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.drill-unit .item-price-btn:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.new {
  position: relative;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/new_flag.png);
  background-repeat: no-repeat;
  z-index: 20;
}

.catalog-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin: 0;
  margin-bottom: 9px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 9px;
  padding-left: 30px;
}

.item-price-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
}

/*попкулярные бренды*/

.popular-brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.brand-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.brands-box {
  display: flex;
  justify-content: center;
  width: 23%;
  height: 144px;
  border: 1px solid #eaeaea;
  cursor: pointer;
}



.brands-box:hover,
.brands-box:focus {
  opacity: 30%;
  box-shadow: -2px -1px 20px 0px rgba(0, 0, 0, 0.35);
}

.brands-box:active {
  opacity: 30%;
}

.brands-box+.brands-box {
  margin-bottom: 20px;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 67px;
  margin-top: -3px;
}

/* Сервис доставка кредит*/

.service {
  margin-bottom: 104px;
  padding: 0;
  background: #f4f8f9;
  color: #000;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 62px;
}

.about-service {
  width: 400px;
  margin-top: -3px;
}

.service-info {
  display: flex;
  margin-top: 24px;
}

.service-navigation {
  width: 240px;
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.service-navigation::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: 0;
  right: 0;
  background-image: url(../img/shadow.png);
}

.service-content {
  display: none;
  height: 100%;
}

.delivery-slide {
  width: 275px;
  margin-top: -10px;
}

.guarantee {
  width: 375px;
}

.credit {
  width: 280px;
  margin-bottom: 40px;
}


#first-button:checked~.slider .delivery,
#second-button:checked~.slider .warranty,
#third-button:checked~.slider .loan {
  display: block;
}

.service-navigation label {
  display: flex;
  width: 217px;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  padding: 11px 0 18px 23px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  background-color: #32425c;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}

#first-button:checked~.service-navigation label[for="first-button"],
#second-button:checked~.service-navigation label[for="second-button"],
#third-button:checked~.service-navigation label[for="third-button"] {
  color: #32425c;
  background: #fff;

  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  padding-top: 45px;
  padding-left: 80px;
  flex-grow: 1;
}

.delivery {
  background-image: url(../img/delivery-van.png);
  background-repeat: no-repeat;
  background-position: 99% 25px;
}

.warranty {
  background-image: url(../img/waranty.png);
  background-repeat: no-repeat;
  background-position: 76% 25px;
}

.loan {
  background-image: url(../img/loan-money.png);
  background-repeat: no-repeat;
  background-position: 76% 25px;
}

.service-content h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0em;
  margin: -1px 0 34px 0;
  color: #32425c;
}

.btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  padding: 11px 44px;
  background-color: #ff5357;
  border-radius: 3%;
  margin-top: 31px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

/*до футера*/
.before-footer {
  display: flex;
}

.about-tech {
  width: 535px;
  line-height: 25px;
}

.company {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.aboutus {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.011em;
  color: #000000;
  margin-top: -1px;
}

.about-tech .post {
  width: 400px;
  margin-top: 22px;
  letter-spacing: 0.003em;
}

.courier li {
  list-style: none;
}

.courier-li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  position: relative;
  list-style: none;
  padding: 8px 0 12px 0;
  margin-left: -4px;
}

.courier-li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -36px;
  top: 16px;
  background-color: #fb565a;
}

.btmbtn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 86px;
  margin-top: 23px;
}

.btmbtn:hover,
.btmbtn:focus {
  background-color: #ca2c37;
}

.btmbtn:active {
  background-color: #ba2732;
}

.map-info img {
  margin-top: 20px;
}

.explanation {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #000;
  width: 190px;
}

.lost-btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 86px;
  margin-top: 33px;
}

.lost-btn:hover,
.lost-btn:focus {
  background-color: #ca2c37;
}

.lost-btn:active {
  background-color: #ba2732;
}

/*футер*/

.footer {
  background-color: #32425c;
}

.footer-wrapper {
  display: flex;
}

.logo-btm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  color: #fff;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 220px;
  position: relative;
  background-color: #ee3643;
  text-transform: uppercase;
}

.logo-btm:hover,
.logo-btm:focus {
  background-color: #ca2c37;
}

.logo-btm:active {
  background-color: #ba2732;
}

.logo-btm::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  left: 0;
  bottom: -5px;
  background-color: #b52933;
}

.footer-address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  width: 328px;
  margin-top: 33px;
}

.nav-block {
  margin-left: 60px;
  background-color: #32425c;
  flex-grow: 1;
}

.site-navigation1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

}

.site-navigation1 li {
  padding-top: 39px;
}

ul.site-navigation2 {
  padding-left: 20px;

}

.site-navigation2 {
  display: flex;
  justify-content: space-between;

}

.site-navigation2 li {
  margin-top: 35px;
  padding-bottom: 74px;
}

.btm-nav {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.btm-nav:hover,
.btm-nav:focus {
  text-decoration: underline;
}

.btm-nav:active {
  color: #8b96a4;
}

.btm-nav1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffd180;
}

.btm-nav1:hover,
.btm-nav1:focus {
  text-decoration: underline;
}

.btm-nav1:active {
  color: #998a6e;
}

/*андерфутер*/

.underfooter {
  background-color: #293449;
}

.under-wrap {
  display: flex;
  justify-content: space-between;
}

.copyright {
  width: 250px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding-top: 16px;
  margin-bottom: 31px;
}

.social {
  display: flex;
  width: 136px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-left: 18px;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link:hover,
.social-link:active,
.social-link:focus {
  background-color: #ee3643;
}

.socialvk {
  background-image: url(../img/icon-vk.svg);
}

.socialfb {
  background-image: url(../img/icon-fb.svg);
}

.socialinst {
  background-image: url(../img/icon-insta.svg);
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 298px;
}

.feedback {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  width: 140px;
}

.feedback a,
.feedback-info a {
  color: #ffd180;
}

.feedback a:focus,
.feedback a:hover,
.feedback-info a:focus,
.feedback-info a:hover {
  text-decoration: underline;
}

.feedback a:active,
.feedback-info a:active {
  color: #ee3643;
}

.feedback-info {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  width: 100px;
}


.modal {
  position: fixed;
  display: none;
  z-index: 1000;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  background-position: 0 0;
  border-top: 7px solid #ee3643;
}

.modal-form {
  box-sizing: border-box;
  width: 620px;
  top: 20%;
  left: 30%;
}

.modal-close {
  position: absolute;
  top: 11px;
  right: 8px;
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  top: 10px;
  left: 2px;
  position: absolute;
  background-color: #ee3643;
  width: 19px;
  height: 3px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.form-text {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 620px;
  top: 20%;
  left: 30%;
  padding-top: 49px;
  padding-left: 80px;
  padding-right: 80px;
}

.form-wrapper {
  display: flex;
}

.name-form,
.email-form {
  display: flex;
  flex-direction: column;
}

.name-form h3,
.email-form h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.contact-form input[type="text"] {
  font: inherit;
  color: #a9a9a9;
  box-sizing: border-box;
  width: 220px;
  padding-left: 14px;
  margin-right: 20px;
  border: 2px solid #dee3e4;
}

.contact-form input:focus {
  border-color: #663d15;
}

.text-form {
  padding-top: 12px;
  padding-bottom: 90px;
  padding-right: 442px;
  margin-bottom: 37px;
}

.submit-form {
  display: inline-block;
  width: 460px;
  padding: 11px 0;
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit-form:hover,
.submit-form:focus {
  background-color: #ca2c37;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  height: 112px;
}

.modal-map {
  position: fixed;
  display: none;
  z-index: 2000;
  top: 50%;
  left: 43%;
  width: 970px;
  height: 476px;
  margin-top: -280px;
  margin-left: -390px;
}

.modal-close-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close-btn::before,
.modal-close-btn::after {
  content: "";
  top: 10px;
  left: 2px;
  position: absolute;
  background-color: #ee3643;
  width: 19px;
  height: 3px;
}

.modal-close-btn::before {
  transform: rotate(45deg);
}

.modal-close-btn::after {
  transform: rotate(-45deg);
}

/* правила для каталог хтмл*/
.home {
  position: relative;
  width: 37px;
  height: 12px;
}

.home::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  background: url(../img/icon-home.svg) no-repeat;
  left: -56px;
  bottom: -4px;
}

.breadcrumbs {
  position: relative;
  width: 373px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4px;
  list-style: none;
  margin-left: 14px;
}

.breadcrumbs-link {
  position: relative;
  margin-right: 40px;
  color: #000;
}

.breadcrumbs-link::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  top: 2px;
  left: -25px;
}

.catalog-tree {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.drill {
  padding-left: 28px;
  padding-top: 34px;
  padding-bottom: 29px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  margin: 0 0 24px 0;
  font-weight: normal;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.filters fieldset {
  border: none;
  margin-top: 20px;
}

.filters {
  width: 220px;
  min-height: 1145px;
}

label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #000;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

fieldset:first-child {
  margin-bottom: 10px;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 10px 38px;
  text-transform: uppercase;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-list {
  color: #000;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 40px;
}

.pagination:hover,
.pagination:focus {
  border: 1px solid #bdc6ca;
}

.pagination:active {
  border: 1px solid #ee3643;
}

.account {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: 49px;
}

.login-account {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  color: #000;
  width: 300px;
  margin-bottom: 5px;
  padding-left: 47px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.login-account::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 29px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  top: 13px;
  left: 14px;
}

.login-account::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 29px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  top: 14px;
  right: 11px;
}

.my-orders {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  padding-left: 19px;
  padding-right: 32px;
  position: relative;
}

.my-orders::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
  top: 7px;
  right: 14px;
}

.personal-account {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.click:focus,
.click:hover {
  color: #ee3643;
}

.click:active {
  color: #b7bfc8;
}

.product-description {
  padding-top: 40px;
  background-color: #f2f6f8;
}

.product-description h2 {
  font-size: 30px;
  line-height: 24px;
  margin: 28px 0;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
}

.container-perforator {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 940px;
  padding-bottom: 67px;
}

.container-perforator h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 28px;
}

.container-perforator p {
  margin: 0;
  padding: 0;
}

.price-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.hidden {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 12px 150px 8px 18px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  border-radius: 3%;
  margin-top: -6px;
}

.range-control {
  position: relative;
  padding: 0 40px;
  margin-top: 14px;
  overflow: hidden;
  background-color: #f7f3ec;
  border-radius: 3%;
}

.range-control .scale {
  height: 2px;
  margin-top: 39px;
  margin-bottom: 39px;
  background: #d7dcde;
  width: 160px;
}

.range-control .slider-scale {
  width: 85%;
  height: 2px;
  background-color: #00ca74;
}

.circle {
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.circle-left {
  position: absolute;
  top: 31px;
  left: 20px;
}

.circle-right {
  position: absolute;
  top: 31px;
  left: 160px;
}

.price-controls {
  border-bottom: 1px solid #e5e5e5;
}

.price-controls input {
  background-color: #f7f3ec;
  margin-top: 9px;
  margin-bottom: 20px;
  border: none;
  width: 85px;
  padding: 0px 2px 0px 8px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border-radius: 5px;
  outline: inherit;
}

.price-controls input:focus {
  outline: 2px solid #cce6ff;
  border-radius: 5px;
}

.min-price .max-price {
  text-transform: uppercase;
}

span {
  padding: 0 4px;
  font-size: 16px;
  line-height: 18px;
}

.filter-brand ul {
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
  line-height: 19px;
}

.filter-option {
  margin-top: 16px;
  margin-bottom: 20px;
  padding-left: 33px;
}

.filter-option label {
  position: relative;

  cursor: pointer;
  user-select: none;
}

.filter-option-power {
  margin-top: 5px;
  margin-bottom: 16px;
  padding-left: 26px;
}

.filter-option-power label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.power-filter {
  padding: 0;
  margin: 13px 0 49px 1px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -35px;
  top: -3px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  top: -3px;
  left: -35px;
}

.filter-input-radio {
  position: relative;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  top: -3px;
  left: -31px;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  top: -3px;
  left: -31px;
}

.sort-filter {
  display: flex;
  background-color: #f7f3ec;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 16px 10px 19px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: -6px;
  border-radius: 5px;
}

.sort-type {
  display: flex;
  width: 355px;
  justify-content: space-between;
  margin-left: 110px;
  color: red;
}

.sort-type .active {
  color: #ee3643;
  border: none;
}

.sort-type a {
  color: #cacaca;
  border-bottom: 1px dotted #ee3643;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #444;
  border-bottom: 1px solid #ee3643;
}

.sort-type a:active {
  color: #ee3643;
  border: none;
}

.active .type .functional:focus {
  color: red;
  text-decoration: underline;
}

.triangle {
  display: flex;
  width: 43px;
  justify-content: space-between;
  margin-left: 48px;
  margin-top: 4px;
}

.arrow-up {
  background-image: url(../img/icon-up-dir.svg);
  width: 11px;
  height: 10px;
}

.arrow-down {
  background-image: url(../img/icon-down-dir.svg);
  width: 11px;
  height: 10px;
}

.pagination-list {
  width: 285px;
  display: flex;
  justify-content: space-between;
  margin: 33px 0 30px 0;
}

.pagination-list a {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 5%;
  font: 13px/18px "PT Sans", "Arial", sans-serif;
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #e5e5e5;
}

.pagination-list .next {
  width: 140px;
}

.pagination-list .first {
  background-color: #ee3643;
  color: #fff;
  border: 1px solid #ee3643;
}

.modal-cart {
  position: fixed;
  display: none;
  z-index: 2000;
  top: 83%;
  left: 57%;
  width: 620px;
  height: 282px;
  margin-top: -280px;
  margin-left: -390px;
  background-color: #fff;
}

.cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 7px solid #ee3643;
}

.cart-popup img {
  padding-right: 30px;
}

.cart-btns-wrapper {
  display: flex;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 35px;
}

.cart-wrapper h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;


}

.cart-order-btn {
  display: flex;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  width: 220px;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius: 4px;
  justify-content: center;
}

.cart-order-first {
  color: #fff;
  background-color: #ee3643;
}

.cart-order-second {
  color: #000;
  background-color: #fff;
}





















/* непонятно что такое пока не буду удалять вдруг надо*/

.expedition-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.person {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.person:active {
  color: #c5c5c5;
}

.person-lk {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.person-lk:hover,
.person-lk:focus {
  color: #ee3643;
}

.person-lk:active {
  color: #b7bfc8;
}

.main-menu {
  background-color: #32425c;
}

.map-info {
  margin-left: 105px;
}

.bookmark {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.cart {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  background-color: #ee3643;
}



.about-tech {
  width: 535px;
}

.container-name {
  margin-top: 0;
}

.container-name-delivery {
  margin-top: 20px;
}
