/* header */
.top-line {
  background-color: #293449;
}

.inner {
  max-width: 940px;
  margin: 0 auto;
}

.top-line-wrapper {
  display: flex;
}

.logo-link {
  position: relative;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #ee3643;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  color: #fff;
}

.logo-link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: #b52933;
}

.search-form {
  width: 270px;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
 }


form {
  display: block;
  margin-top: 0em;
}

.top-nav-list {
  display: flex;
}

.top-nav-item {
  width: 150px;

}

.top-btn {
  display: block;
  padding:21px;
  padding-bottom: 11px;
  padding-top: 11px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
  text-decoration: none;
}

.top-btn:hover,
.top-btn:focus {
  background-color: #212a3a;
}

.top-btn:active {
  color: #999ca1;
  background-color: #161d29;
}

.order-btn {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #63a63e;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #5fbb2d;
}

.order-btn:active {
  color: #a8c29a;
  background-color: #518534;
}

.bookmark {
  background: url(../img/icon-bookmark.svg) no-repeat center left;
}
































































body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #fff;
}

a {
  text-decoration: none;
}

ul.top-nav-list,
ul.social,
ul.site-navigation1,
ul.site-navigation2,
ul.site-navigation,
ul.head-btn {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}


.site-navigation {
  width: 940px;
  height: 60px;
  background-color: #32425c;

  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;


}

.phone-wrapper {
display: flex;
flex-direction: column;
align-items: center;

}


.navigation {

  margin-top: 25px;

  margin-bottom: 0
  min-height: 20px;
}




.top-line {
  background-color: #293449;
}

/*.logo-link {
  display: block;
  width: 220px;
  padding-top:12px;
  padding-bottom: 11px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  background-color: #ee3643;
   box-shadow: 0 5px 0 0 #b52933;
}*/



.head-wrapper {
  display: flex;
  flex-direction: column;
}

.head-wrap {
  display: flex;
  justify-content:space-between;
  align-items: center;
}



.nav-block {
  margin-left: 70px;

  background-color: #32425c;
}

.drill {

  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 33px;
  font-family: "Cuprum", Arial, sans-serif;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.drill-unit {
  border-style:solid;
  border-color: #e5e5e5;
  background-color: transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.drill-unit:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.catalog {
 width: 700px;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-name{
 font-family: "PT Sans", Arial, sans-serif;
 font-style: bold;
 font-size:18px;
 line-height: 20px;
 color: #000;
}
.catalog-item-price {
  font-family: "PT Sans", Arial, sans-serif;
 font-style: bold;
 font-size:17px;
 line-height: 18px;
 color: #999999;
}

.item-price-btn{
  font-family: "PT Sans", Arial, sans-serif;
 font-style: bold;
 font-size:17px;
 line-height: 18px;
 color: #fff;
 background-color: #ee3643
}

.filters fieldset{
  border:none;

}

.filters {
  border: 1px solid red;
  width: 220px;
  min-height: 1145px;

}

label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size:15px;
 line-height: 20px;
 color: #000;
}

legend {
 font-family: "PT Sans", Arial, sans-serif;
 font-style: bold;
 font-size:17px;
 line-height: 30px;
 color: #000;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.company{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.footer {
  background-color: #32425c;
}

.footer-wrapper {
  display: flex;
  flex-direction:
}

.logo-address {


}

.site-navigation1
 {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-content: center;
width: 550px;

}


.site-navigation1 li {
  padding-top: 39px;
}





.site-navigation2 {
  display: flex;
  justify-content: space-around;

}

.site-navigation2 li {
  margin-top: 35px;
  padding-bottom: 74px;
}

.footer-address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}



.main-title {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 43px;
  width: 210px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.top-btn {
  display: block;
  padding:21px;
  padding-bottom: 11px;
  padding-top: 11px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
  text-decoration: none;
}

.top-btn:hover,
.top-btn:focus {
  background-color: #212a3a;
}

.top-btn:active {
  color: #999ca1;
  background-color: #161d29;
}


.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
}
.nav-menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;

}

.courier{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.explanation {
  font-family: "PT Sans", Arial, sans-serif;
  font-size:13px;
 line-height: 24px;
 color: #000;
}

.expedition-list{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.phone {
  display: block;
  width: 270px;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border-style: solid;
  border-color: #fff;
}
.person {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.person:active {
  color: #c5c5c5,
}

.person-lk {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.person-lk:hover,
.person-lk:focus {
  color: #ee3643;
}

.person-lk:active {
  color: #b7bfc8
}

.main-menu {
  background-color: #32425c;
}

.catalog-tree {
 font-family: "PT Sans", Arial, sans-serif;
 font-size: 13px;
 line-height: 18px;
 color: #000;
}

.head-address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.aboutus {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.head-btns {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.head-btns a:hover,
.head-btns a:focus {
  color: #ee3643;
}

.head-btns a:active {
  color: #b2b2b2;
}

.login {
  width: 121px;
  display: block;
  padding: 11px 26px 11px 14px;
  margin-right: 10px;
}

.reg {
  width: 150px;
  display: block;
  padding: 11px 24px;
}

.head-btn {
  display: flex;

}



.main-header-bg {
  height: 280px;
  background-color: #f4f7f9;

}

.btmbtn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
.btm-nav {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.btm-nav:hover,
.btm-nav:focus {
  text-decoration: underline;
}

.btm-nav:active {
   color:#8b96a4;
}

.btm-nav1 {
   font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffd180;
}

.btm-nav1:hover,
.btm-nav1:focus {
  text-decoration: underline;
}

.btm-nav1:active {
   color:#998a6e;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.underfooter {
  border: 2px solid black;
  background-color: #293449

}
.copyright {
  width: 250px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  border: 1px solid red;
}

.feedback {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.feedback-info {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}
.bookmark {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.cart {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  background-color: #ee3643;
}


.popular-items {

  color: black;
}

.header-items {
  height: 89px;
  margin-top: 53px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.container-materials {

  width: 300px;
  height: 123px;
  order: -6;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffbf47;
}

.container-materials svg,
.container-delivery svg {
position: relative;
left: 214px;
bottom: 20px;
}

.container-instruments svg {
position: relative;
left: 195px;
bottom: 18px;
}

.container-tech svg {
  position: relative;
left: 195px;
bottom: 18px;
}

.container-sale svg {
  position: relative;
left: 195px;
bottom: 18px;
}

.container-delivery svg {
 position: relative;
left: 195px;
bottom: 10px;
}



.before-footer {
  display: flex;
  height: 536px;
}

.container-name {
  margin-top: 0;
}

.container-name-delivery {
  margin-top: 20px;
}

.container-instruments {
  width: 300px;
  height: 123px;
  order: -5;
  margin-right: 20px;

  background-color: #3bbce3;
}

.container-tech {
  width: 300px;
  height: 123px;
order: -4;
  background-color: #dc91d8;
}

.container-sale {
  order: -2;
  width: 300px;
  height: 123px;


  background-color: #8ed78f;
}

.container-delivery {
  width: 300px;
  height: 123px;
  order: -1;

  background-color: #ffc047;
}

.man-drill {
  background-image: url('../img/Drill-man-baner-.png');
  background-color: #685c53;
  margin-right: 20px;
  width: 620px;
  order: -3;
  height: 266px;

}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-top: 59px;
  padding: 0;
  border: 940px 410px;

}

.popular-items-link {

  padding: 11px 54px;
  position:

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
}

.popular {
  display: flex;
  justify-content: space-around;
}

.drill-unit {
   position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.drill-unit:nth-child(3n) {
  margin-right: 0;
}

..drill-unit {
  font-size: 0;
}

..drill-unit {
  font-size: 16px;
}

.drill-unit .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.drill-unit .flag-new {
  background: url(../img/new flag.png) no-repeat 0 0;
}

.drill-unit .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.drill-unit .actions .buy,
.drill-unit .actions .bookmark-drill {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.drill-unit .actions .bookmark-drill {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.drill-unit .actions {
  display: none;
}

.drill-unit:hover .actions {
  display: block;
}

.drill-unit .image {
  width: 218px;
  height: 168px;
}

.drill-unit .image img {
  max-width: 100%;
}

.drill-unit .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.drill-unit .catalog-item-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}


.drill-unit .item-price-btn {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.drill-unit .item-price-btn:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.brands-box {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
}

.brands-box + .brands-box {
  margin-bottom: 20px;
}


.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socialvk {
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
  background-image: url(../img/icon-vk.svg);
}

.under-wrap {
  display: flex;
}

.social {
  display: flex;
  width: 136px;

}

.back-link {
  display: flex;

}

.back-link p {
  border:1px solid red;
  width: 290px;
}

.pagination-list {
  color: #000;
  padding: 0;
  margin:0;

  list-style: none;
  min-height: 40px;
}

.btn-menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;

  border:1px solid black;
  padding: 10px 24px;

position: relative;
left: -30px;
bottom: 40px;

}

.name-menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #fff;

  padding-left: 22px;
}









































